.buttonBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.5rem;
  padding: 1.5rem;

  button {
    width: 25%;
  }
}

.onlyOneButton {
  justify-content: flex-end;

  button:first-child {
    display: none;
  }
}

.modalContentBlock {
  display: flex;
  flex-direction: column;
  gap: 1.13rem;
  align-items: flex-start;

  width: 100%;

  .selectBlock {
    width: 100%;
    margin-top: 1.5rem;
  }

  .textArea {
    width: 100%;
  }
}

.selectContent {
  z-index: 101;
}
