.signBlock {
  display: flex;
  flex-direction: column;

  width: 23.625rem;
  margin: 6.75rem auto 0;
  padding: 1.5rem;

  .title {
    margin-bottom: 2.31rem;
    text-align: center;
  }

  .email {
    margin-bottom: 1.5rem;
  }

  .password {
    margin-bottom: 2.25rem;
  }

  .submit {
    margin-bottom: 2.25rem;
    padding: 0.38rem 0;
  }
}
