.back {
  display: flex;
  align-items: center;

  //margin-bottom: 1.44px;

  color: var(--color-light-100);
  text-decoration: none;
}

.mainInfo {
  margin-top: 1.44rem;

  .avaAndName {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 1.5rem;

    .userName {
      text-decoration-line: underline;
    }
  }
}

.userIdWrapper {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 2.19rem;

  .item {
    width: 10.75rem;
  }
}

.pagination {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-top: 1rem;

  .selectPagination {
    width: 4.5rem;
    height: 1.5rem;
  }
}
