.table {
  margin-bottom: 2.25rem;
}

.pagination {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-top: 1rem;

  .selectPagination {
    width: 4.5rem;
    height: 1.5rem;
  }
}

.itemActivity {
  cursor: pointer;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.headItem {
  display: flex;
  align-items: center;

  .headItemText {
    margin-right: 0.5rem;
  }

  svg {
    position: relative;
  }
}

.link {
  color: var(--color-light-100);
  text-decoration: none;
  border: none;

  &:hover {
    color: var(--color-accent-100);
  }

  &:active {
    color: var(--color-accent-700);
  }
}

.userId {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
